################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sotkis-shared-libraries/.vs/SharedLibraries/FileContentIndex
