# Build results
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Visual Studio files
.vscode/
.vs/

# Logs
*.log

# Secrets
secrets.json
*.env

# GitHub Actions
.github/workflows/*.log
