<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/YOUR-ORG-NAME/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="YOUR-GITHUB-USERNAME" />
      <add key="ClearTextPassword" value="YOUR-PAT" />
    </github>
  </packageSourceCredentials>
</configuration>
