name: Publish NuGet Package to GitHub Packages

on:
  push:
    branches: [ main ]
    paths:
      - 'src/Shared.Authentication/**'
      - '.github/workflows/main.yml'
  release:
    types: [published]

permissions:
  packages: write
  contents: read

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Restore dependencies
      run: dotnet restore SharedLibraries.sln

    - name: Build
      run: dotnet build SharedLibraries.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test SharedLibraries.sln --no-restore --verbosity normal

    - name: Create the package
      run: dotnet pack src/Shared.Authentication/Shared.Authentication.csproj --configuration Release

    - name: Publish to GitHub Packages
      run: dotnet nuget push src/Shared.Authentication/bin/Release/*.nupkg --source https://nuget.pkg.github.com/Sotkon/index.json --api-key ${{ secrets.GITHUB_TOKEN }}
